.marginlr
{
    margin-left: 3%;
    margin-right: 3%;
}
.padding5
{
    padding-top: 5px;
}

.top
{
    background-color: green;
    height: 40px;
    width: 40px;
    color: wheat;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

#topbtn:link {
    text-decoration: none;
    color:wheat;
    
  }
  
#topbtn:visited {
    text-decoration: none;
    color:wheat;
   
  }
.bottom
{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 7vh;
    padding: 10px;
}
  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 650px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .nav1
    {
        display:none;
    }
    
    .nav2
    {
        display: block;
        float: left;
    }
}
@media screen and (min-width:650px) {
    .nav2{
        display:none;
    }
}
.nav1
{
    margin-left: 20px;
    
    font-size:30px;
}
.nav1:link{
    text-align: center;
    cursor: auto;
    color: black;
    text-decoration: none;
}
.nav1:visited
{
    text-align: center;  
    cursor: auto;
    color: black;
    text-decoration: none;
}